{% extends "blog/base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <nav id="nav-bar">
      <ul>
        <li><h1>Django</h1></li>
        <li><a href={% url "blog:index" %}>Home</a></li>
        <li><a href="/">Logout</a></li>
        <li><p>{{request.user.username}}</p></li>
      </ul>
    </nav>
    <div class="posts">
      {% if not page_obj %}
        <h2>Não há posts para serem exibidos.</h2>
      {% endif %}
      {% for post in page_obj %}
        <div class="post">
          <a href="{% url "blog:post" post.title post.id %}" class="post-title" target="_blank">{{post.title}}</a>
          {% if post.image %}
            <img src={{post.image.url}} alt="Post Image">
          {% endif %}
          <p class="post-description">{{post.description}}</p>
          <div class="post-info">
            <p class='post-date'>Criado em: {{post.created_at}}</p>
            <p>Autor: {{post.author}}</p>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}