{% extends "blog/base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <nav id="nav-bar">
      <ul>
        <li><h1>Django</h1></li>
        <li><a href={% url "blog:index" %}>Home</a></li>
        <li><a href="/">Logout</a></li>
        <li><p>{{request.user.username}}</p></li>
      </ul>
    </nav>
    <div class="posts">
      {% if not posts %}
        <h2>Não há posts para serem exibidos.</h2>
      {% endif %}
      {% for post in posts %}
        <div class="post">
          <a href="{% url "blog:post" post.title post.id %}" class="post-title" target="_blank">{{post.title}}</a>
          {% if post.image %}
            <img src={{post.image.url}} alt="Post Image">
          {% endif %}
          <p class="post-description">{{post.description}}</p>
          <div class="post-info">
            <p class='post-date'>Criado em: {{post.created_at}}</p>
            <p>Autor: {{post.author}}</p>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}