{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{post.title}}</title>
  <link rel="stylesheet" href={% static "blog/css/post_style.css" %}>
  {% if not post.favicon %}
    <link rel="shotcurt icon" href={% static "blog/img/blog-icon.png" %}>
  {% else %}
  <link rel="shotcurt icon" href={{post.favicon.url}}>
  {% endif %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    {% include "blog/partials/nav_bar.html" %}
    <div id="post">
      <div id="post-infos">
        <h1>{{post.title}}</h1>
        <p>{{post.description}}</p>
      </div>
      <div id="post-content">
        {% if post.image %}
          <img src={{post.image.url}} alt="Imagem do post">
        {% endif %}
        <p>{{post.content|linebreaksbr}}</p>
      </div>
      </div>
    </div>
  </div>
</body>
</html>